
body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: brown;
}

body > table {
  margin: 100px auto;
  border: 1px solid black;
  background-color: white;
}

img {
  width: 300px;
}

img.error {
  width: 600px;
}

table table {
  width: 300px;
  border-spacing: 10px;
}

table table td {
  width: 50%;
}

table table tr > td:first-child {
  text-align: right;
}

table table tr > td:last-child {
  text-align: left;
}

.center {
  text-align: center !important;
}

a {
  color: white;
  border: 1px solid black;
  padding: 5px;
  font-size: 0.75em;
  text-decoration: none;
  background-color: cadetblue;
}

a:hover {
  background-color: brown;
}
